<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swxy.mapper.UserMapper">
<resultMap id="BaseResultMap" type="com.swxy.pojo.Userss">
<id property="userId" column="userId" javaType="long"/>
<result property="userName" column="userName" javaType="java.lang.String"/>
<result property="userPassword" column="userPassword" javaType="java.lang.String"/>
<result property="userEmail" column="userEmail" javaType="java.lang.String"/>
<result property="userPassword" column="userPassword" javaType="java.lang.String"/>
<result property="userRole" column="userRole" javaType="java.lang.Integer"/>
<result property="userHead" column="userHead" javaType="java.lang.String"/>
</resultMap>
    <select id="findUserById" parameterType="long" resultMap="BaseResultMap">

        select * from userss where userId = #{id}

    </select>
    <select id="findUserByName"  parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from userss where userName = #{username}
    </select>
</mapper>